<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Wipes</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: 'Comic Sans MS', cursive, sans-serif;
            text-align: center;
        }
        h1 {
            color: yellow; /* You can adjust the color as needed */
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            font-size: 24px; /* You can adjust the font size as needed */
        }
    </style>
    <script>
        function updatePage() {
            location.reload();
        }
        // Refresh every 5 seconds
        setInterval(updatePage, 5000);
    </script>
</head>
<body>
    <h1>Active Wipes</h1>
    <ul>
        {% for disk in active_disks %}
            <li>{{ disk }}</li>
        {% endfor %}
    </ul>
</body>
</html>

